# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env.local

# Backend (Java / Maven / Gradle)
target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar
build/
.gradle/

# Frontend (Node / React)
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?